In [1]:
import pandas as pd

# 创建时间对象

在 Pandas 中关于时间序列的常见对象有 6 种
- Timestamp（时间戳）
- DatetimeIndex（时间戳索引）
- Period（时间段）
- PeriodIndex（时间段索引）
- 以时间为元素的 Series 
- 以时间索引的 DataFrame

### 创建时间戳

In [2]:
pd.Timestamp(2020,4,18)

Timestamp('2020-04-18 00:00:00')

In [3]:
pd.Timestamp("2020-4-18 15:27:03")

Timestamp('2020-04-18 15:27:03')

In [4]:
from datetime import datetime

pd.Timestamp(datetime(2020,4,18))

Timestamp('2020-04-18 00:00:00')

### 创建时间段

In [5]:
pd.Period("2020-4")

Period('2020-04', 'M')

In [9]:
pd.Period('2020-4',freq='D')

Period('2020-04-01', 'D')

### 创建时间元素的Series

In [10]:
df = ['2019-08-01', '2019-09-01', '2019-10-01']
pd.to_datetime(df)

DatetimeIndex(['2019-08-01', '2019-09-01', '2019-10-01'], dtype='datetime64[ns]', freq=None)

In [12]:
df = pd.Series(['Sep 30, 2019', '2019-10-1', None])
pd.to_datetime(df)

0   2019-09-30
1   2019-10-01
2          NaT
dtype: datetime64[ns]

In [13]:
df = pd.DataFrame({'year': [2017, 2018],
                   'month': [9, 10],
                   'day': [30, 1],
                   'hour': [23, 0]})
pd.to_datetime(df)

0   2017-09-30 23:00:00
1   2018-10-01 00:00:00
dtype: datetime64[ns]

### 创建时间索引

In [14]:
dates = ['2018-08-01', '2018-09-01', '2018-10-01']
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2018-08-01', '2018-09-01', '2018-10-01'], dtype='datetime64[ns]', freq=None)

创建以 2018 年 9 月 30 日为开始的 250 条时间索引，相邻索引间隔时间长度为一个月

In [15]:
index = pd.date_range('2018-9-30', periods=250, freq='M')
index

DatetimeIndex(['2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30',
               ...
               '2038-09-30', '2038-10-31', '2038-11-30', '2038-12-31',
               '2039-01-31', '2039-02-28', '2039-03-31', '2039-04-30',
               '2039-05-31', '2039-06-30'],
              dtype='datetime64[ns]', length=250, freq='M')

创建以 2018 年 10 月 1 日为开始的 111 条时间索引，相邻索引间隔时间长度为一个工作日

In [16]:
index = pd.bdate_range('2018-10-1', periods=111)
index

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12',
               ...
               '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22',
               '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28',
               '2019-03-01', '2019-03-04'],
              dtype='datetime64[ns]', length=111, freq='B')

在 2017 年 10 月 1 日到 2018 年 10 月 1 日间，每隔一周创建一条索引

In [17]:
start = datetime(2017, 10, 1)
end = datetime(2018, 10, 1)
rng = pd.date_range(start, end, freq='W')
rng

DatetimeIndex(['2017-10-01', '2017-10-08', '2017-10-15', '2017-10-22',
               '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19',
               '2017-11-26', '2017-12-03', '2017-12-10', '2017-12-17',
               '2017-12-24', '2017-12-31', '2018-01-07', '2018-01-14',
               '2018-01-21', '2018-01-28', '2018-02-04', '2018-02-11',
               '2018-02-18', '2018-02-25', '2018-03-04', '2018-03-11',
               '2018-03-18', '2018-03-25', '2018-04-01', '2018-04-08',
               '2018-04-15', '2018-04-22', '2018-04-29', '2018-05-06',
               '2018-05-13', '2018-05-20', '2018-05-27', '2018-06-03',
               '2018-06-10', '2018-06-17', '2018-06-24', '2018-07-01',
               '2018-07-08', '2018-07-15', '2018-07-22', '2018-07-29',
               '2018-08-05', '2018-08-12', '2018-08-19', '2018-08-26',
               '2018-09-02', '2018-09-09', '2018-09-16', '2018-09-23',
               '2018-09-30'],
              dtype='datetime64[ns]', freq='W-SUN')

从 2018 年 10 月 1 日向前每隔一个工作日创建一条索引，共 250 条

In [18]:
pd.bdate_range(end=end, periods=250)

DatetimeIndex(['2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26',
               '2017-10-27', '2017-10-30',
               ...
               '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-21',
               '2018-09-24', '2018-09-25', '2018-09-26', '2018-09-27',
               '2018-09-28', '2018-10-01'],
              dtype='datetime64[ns]', length=250, freq='B')

从 2018 年 9 月 30 日向后创建 666 条索引，相邻索引间隔时间长度为一天

In [19]:
pi = pd.period_range('2018-9-30', periods=666)
pi

PeriodIndex(['2018-09-30', '2018-10-01', '2018-10-02', '2018-10-03',
             '2018-10-04', '2018-10-05', '2018-10-06', '2018-10-07',
             '2018-10-08', '2018-10-09',
             ...
             '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20',
             '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24',
             '2020-07-25', '2020-07-26'],
            dtype='period[D]', length=666, freq='D')

### 创建以时间为索引的 Series 对象

In [20]:
import numpy as np

dates = [pd.Timestamp('2018-08-01'), pd.Timestamp('2018-09-01'),
         pd.Timestamp('2018-10-01')]  
ts = pd.Series(np.random.randn(3), dates)   
ts

2018-08-01    0.998191
2018-09-01   -0.240116
2018-10-01    0.704582
dtype: float64

In [21]:
periods = [pd.Period('2018-08'), pd.Period('2018-09'), pd.Period('2018-10')]
ts = pd.Series(np.random.randn(3), periods)
ts

2018-08    0.150280
2018-09   -0.123965
2018-10   -1.744211
Freq: M, dtype: float64

In [22]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-10-01   -0.092914
2017-10-08    0.363658
2017-10-15   -0.823953
2017-10-22   -1.295782
2017-10-29   -0.442215
2017-11-05   -0.593590
2017-11-12   -2.196413
2017-11-19    0.438599
2017-11-26   -0.457713
2017-12-03    0.430235
2017-12-10   -0.380449
2017-12-17   -0.414208
2017-12-24    0.384422
2017-12-31   -0.281888
2018-01-07   -0.025646
2018-01-14   -0.182201
2018-01-21   -0.320691
2018-01-28   -0.057317
2018-02-04    0.516836
2018-02-11    1.336199
2018-02-18    0.296601
2018-02-25    1.134519
2018-03-04    1.551878
2018-03-11   -1.080579
2018-03-18   -1.312119
2018-03-25   -0.248408
2018-04-01    0.812072
2018-04-08   -0.626627
2018-04-15   -0.439052
2018-04-22   -0.152861
2018-04-29   -1.404312
2018-05-06   -0.936724
2018-05-13   -1.192552
2018-05-20   -0.112382
2018-05-27   -0.763505
2018-06-03   -0.181874
2018-06-10    0.165718
2018-06-17    1.401680
2018-06-24   -0.787971
2018-07-01    0.590650
2018-07-08   -0.158406
2018-07-15   -1.611070
2018-07-22    0.639124
2018-07-29    0.501524
2018-08-05    0.071201
2018-08-12    1.170595
2018-08-19   -0.233835
2018-08-26    1.160592
2018-09-02   -0.878159
2018-09-09    2.592346
2018-09-16    0.212333
2018-09-23    1.302311
2018-09-30   -0.481844
Freq: W-SUN, dtype: float64

In [24]:
prng = pd.period_range('2017Q1', '2018Q4', freq='Q-NOV')

# 行索引为时间段索引，列索引为 A。
ps = pd.DataFrame(np.random.rand(len(prng)), columns=[
                  'A'], index=prng)
ps

               A
2017Q1  0.647065
2017Q2  0.335324
2017Q3  0.538550
2017Q4  0.060542
2018Q1  0.527473
2018Q2  0.321222
2018Q3  0.566623
2018Q4  0.240218

# 时间索引对象处理

### 查找

In [25]:
ts

2017-10-01   -0.092914
2017-10-08    0.363658
2017-10-15   -0.823953
2017-10-22   -1.295782
2017-10-29   -0.442215
2017-11-05   -0.593590
2017-11-12   -2.196413
2017-11-19    0.438599
2017-11-26   -0.457713
2017-12-03    0.430235
2017-12-10   -0.380449
2017-12-17   -0.414208
2017-12-24    0.384422
2017-12-31   -0.281888
2018-01-07   -0.025646
2018-01-14   -0.182201
2018-01-21   -0.320691
2018-01-28   -0.057317
2018-02-04    0.516836
2018-02-11    1.336199
2018-02-18    0.296601
2018-02-25    1.134519
2018-03-04    1.551878
2018-03-11   -1.080579
2018-03-18   -1.312119
2018-03-25   -0.248408
2018-04-01    0.812072
2018-04-08   -0.626627
2018-04-15   -0.439052
2018-04-22   -0.152861
2018-04-29   -1.404312
2018-05-06   -0.936724
2018-05-13   -1.192552
2018-05-20   -0.112382
2018-05-27   -0.763505
2018-06-03   -0.181874
2018-06-10    0.165718
2018-06-17    1.401680
2018-06-24   -0.787971
2018-07-01    0.590650
2018-07-08   -0.158406
2018-07-15   -1.611070
2018-07-22    0.639124
2018-07-29    0.501524
2018-08-05    0.071201
2018-08-12    1.170595
2018-08-19   -0.233835
2018-08-26    1.160592
2018-09-02   -0.878159
2018-09-09    2.592346
2018-09-16    0.212333
2018-09-23    1.302311
2018-09-30   -0.481844
Freq: W-SUN, dtype: float64

In [26]:
ts[:10]

2017-10-01   -0.092914
2017-10-08    0.363658
2017-10-15   -0.823953
2017-10-22   -1.295782
2017-10-29   -0.442215
2017-11-05   -0.593590
2017-11-12   -2.196413
2017-11-19    0.438599
2017-11-26   -0.457713
2017-12-03    0.430235
Freq: W-SUN, dtype: float64

In [28]:
ts[::2]

2017-10-01   -0.092914
2017-10-15   -0.823953
2017-10-29   -0.442215
2017-11-12   -2.196413
2017-11-26   -0.457713
2017-12-10   -0.380449
2017-12-24    0.384422
2018-01-07   -0.025646
2018-01-21   -0.320691
2018-02-04    0.516836
2018-02-18    0.296601
2018-03-04    1.551878
2018-03-18   -1.312119
2018-04-01    0.812072
2018-04-15   -0.439052
2018-04-29   -1.404312
2018-05-13   -1.192552
2018-05-27   -0.763505
2018-06-10    0.165718
2018-06-24   -0.787971
2018-07-08   -0.158406
2018-07-22    0.639124
2018-08-05    0.071201
2018-08-19   -0.233835
2018-09-02   -0.878159
2018-09-16    0.212333
2018-09-30   -0.481844
Freq: 2W-SUN, dtype: float64

In [29]:
ts[[0,2,6]]

2017-10-01   -0.092914
2017-10-15   -0.823953
2017-11-12   -2.196413
dtype: float64

In [31]:
ts["9/30/2018"]

-0.48184382682931737

In [32]:
ts[datetime(2018,9,30)]

-0.48184382682931737

In [33]:
ts['2017']

2017-10-01   -0.092914
2017-10-08    0.363658
2017-10-15   -0.823953
2017-10-22   -1.295782
2017-10-29   -0.442215
2017-11-05   -0.593590
2017-11-12   -2.196413
2017-11-19    0.438599
2017-11-26   -0.457713
2017-12-03    0.430235
2017-12-10   -0.380449
2017-12-17   -0.414208
2017-12-24    0.384422
2017-12-31   -0.281888
Freq: W-SUN, dtype: float64

In [34]:
ts['2018-9']

2018-09-02   -0.878159
2018-09-09    2.592346
2018-09-16    0.212333
2018-09-23    1.302311
2018-09-30   -0.481844
Freq: W-SUN, dtype: float64

In [35]:
ps

               A
2017Q1  0.647065
2017Q2  0.335324
2017Q3  0.538550
2017Q4  0.060542
2018Q1  0.527473
2018Q2  0.321222
2018Q3  0.566623
2018Q4  0.240218

In [36]:
ps['2017']

               A
2017Q1  0.647065
2017Q2  0.335324
2017Q3  0.538550
2017Q4  0.060542
2018Q1  0.527473

In [37]:
ps[:datetime(2017,12,31)]

               A
2017Q1  0.647065
2017Q2  0.335324
2017Q3  0.538550
2017Q4  0.060542
2018Q1  0.527473

In [39]:
ps['2018-06']

               A
2018Q3  0.566623

### 切片

In [40]:
ts.truncate(before='11/26/2017', after='4/29/2018')

2017-11-26   -0.457713
2017-12-03    0.430235
2017-12-10   -0.380449
2017-12-17   -0.414208
2017-12-24    0.384422
2017-12-31   -0.281888
2018-01-07   -0.025646
2018-01-14   -0.182201
2018-01-21   -0.320691
2018-01-28   -0.057317
2018-02-04    0.516836
2018-02-11    1.336199
2018-02-18    0.296601
2018-02-25    1.134519
2018-03-04    1.551878
2018-03-11   -1.080579
2018-03-18   -1.312119
2018-03-25   -0.248408
2018-04-01    0.812072
2018-04-08   -0.626627
2018-04-15   -0.439052
2018-04-22   -0.152861
2018-04-29   -1.404312
Freq: W-SUN, dtype: float64

### 移动

In [41]:
# 取前 5 条数据方便观察。
ts = ts[:5]  
ts

2017-10-01   -0.092914
2017-10-08    0.363658
2017-10-15   -0.823953
2017-10-22   -1.295782
2017-10-29   -0.442215
Freq: W-SUN, dtype: float64

In [42]:
# 将元素列向下移动一条
ts.shift(1)

2017-10-01         NaN
2017-10-08   -0.092914
2017-10-15    0.363658
2017-10-22   -0.823953
2017-10-29   -1.295782
Freq: W-SUN, dtype: float64

In [43]:
# 将索引列向上移动一条
ts.shift(1, freq='W')

2017-10-08   -0.092914
2017-10-15    0.363658
2017-10-22   -0.823953
2017-10-29   -1.295782
2017-11-05   -0.442215
Freq: W-SUN, dtype: float64

### 重采样

重采样可以通俗得理解为改变时间索引的个数，通过增大或减小相邻索引的时间间隔以达到减小或增加索引数量的效果，在 Pandas 中使用 resample() 函数。

下采样：增大时间间隔，减少记录的数量

In [44]:
rng = pd.date_range('10/1/2018', periods=10, freq='D')
ts = pd.Series(np.random.randint(0, 50, len(rng)), index=rng)
ts

2018-10-01    22
2018-10-02     3
2018-10-03    24
2018-10-04    36
2018-10-05    21
2018-10-06     3
2018-10-07    18
2018-10-08    41
2018-10-09     1
2018-10-10    31
Freq: D, dtype: int32

In [45]:
ts.resample('W').sum()

2018-10-07    127
2018-10-14     73
Freq: W-SUN, dtype: int32

In [46]:
ts.resample('W').mean()

2018-10-07    18.142857
2018-10-14    24.333333
Freq: W-SUN, dtype: float64

In [47]:
# 使用 ohlc() 函数对所有未被采样值进行统计
ts.resample('W').ohlc()

            open  high  low  close
2018-10-07    22    36    3     18
2018-10-14    41    41    1     31

上采样：减小时间间隔频率，增加记录的数量

In [48]:
ts.resample('12H').asfreq()

2018-10-01 00:00:00    22.0
2018-10-01 12:00:00     NaN
2018-10-02 00:00:00     3.0
2018-10-02 12:00:00     NaN
2018-10-03 00:00:00    24.0
2018-10-03 12:00:00     NaN
2018-10-04 00:00:00    36.0
2018-10-04 12:00:00     NaN
2018-10-05 00:00:00    21.0
2018-10-05 12:00:00     NaN
2018-10-06 00:00:00     3.0
2018-10-06 12:00:00     NaN
2018-10-07 00:00:00    18.0
2018-10-07 12:00:00     NaN
2018-10-08 00:00:00    41.0
2018-10-08 12:00:00     NaN
2018-10-09 00:00:00     1.0
2018-10-09 12:00:00     NaN
2018-10-10 00:00:00    31.0
Freq: 12H, dtype: float64

In [49]:
ts.resample('12H').ffill()

2018-10-01 00:00:00    22
2018-10-01 12:00:00    22
2018-10-02 00:00:00     3
2018-10-02 12:00:00     3
2018-10-03 00:00:00    24
2018-10-03 12:00:00    24
2018-10-04 00:00:00    36
2018-10-04 12:00:00    36
2018-10-05 00:00:00    21
2018-10-05 12:00:00    21
2018-10-06 00:00:00     3
2018-10-06 12:00:00     3
2018-10-07 00:00:00    18
2018-10-07 12:00:00    18
2018-10-08 00:00:00    41
2018-10-08 12:00:00    41
2018-10-09 00:00:00     1
2018-10-09 12:00:00     1
2018-10-10 00:00:00    31
Freq: 12H, dtype: int32

# 时间的算术方法

首先要导入 pandas.tseries.offsets 模块，Pandas 所有常用时间类都在该模块中。

In [50]:
d = pd.Timestamp(2018, 10, 1, 10, 1, 1)
d

Timestamp('2018-10-01 10:01:01')

In [51]:
from pandas.tseries.offsets import DateOffset

# 向后移动一个月零两天
d + DateOffset(months=1, days=2)

Timestamp('2018-11-03 10:01:01')

In [52]:
from pandas.tseries.offsets import BDay

# 用时间戳加减常用时间类以实现时间戳位移。向前移动 10 个工作日
d - 10 * BDay()

Timestamp('2018-09-17 10:01:01')

In [53]:
from pandas.tseries.offsets import BMonthEnd

# 向后移动一个月末
d + BMonthEnd()

Timestamp('2018-10-31 10:01:01')

In [54]:
from pandas.tseries.offsets import YearEnd

# 虽然日历规定年末是 12 月，加入参数后相当于人为规定 2 月是年末
# 向后移动到上两个年末
d + YearEnd(month=2)

Timestamp('2019-02-28 10:01:01')

In [55]:
from pandas.tseries.offsets import Week

# 向前移动到上一个周四
d - Week(weekday=4)

Timestamp('2018-09-28 10:01:01')

In [56]:
# 将时间移动到下一个月末
offset = BMonthEnd()
offset.rollforward(d)

Timestamp('2018-10-31 10:01:01')

In [57]:
# 将时间移动到上一个月末
offset.rollback(d)

Timestamp('2018-09-28 10:01:01')

In [60]:
rng

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08',
               '2018-10-09', '2018-10-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
# 所有的时间索引向后移动两日
rng + DateOffset(days=2)

DatetimeIndex(['2018-10-03', '2018-10-04', '2018-10-05', '2018-10-06',
               '2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12'],
              dtype='datetime64[ns]', freq='D')

In [62]:
# 所有的时间索引向后移动两个工作日
rng + 2*BDay()

DatetimeIndex(['2018-10-03', '2018-10-04', '2018-10-05', '2018-10-08',
               '2018-10-09', '2018-10-09', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12'],
              dtype='datetime64[ns]', freq=None)

In [63]:
from pandas.tseries.offsets import Minute

# 所有的时间索引向后移动 15 分钟
rng + Minute(15)

DatetimeIndex(['2018-10-01 00:15:00', '2018-10-02 00:15:00',
               '2018-10-03 00:15:00', '2018-10-04 00:15:00',
               '2018-10-05 00:15:00', '2018-10-06 00:15:00',
               '2018-10-07 00:15:00', '2018-10-08 00:15:00',
               '2018-10-09 00:15:00', '2018-10-10 00:15:00'],
              dtype='datetime64[ns]', freq='D')

In [64]:
# 创建 10 条以 2018 年 10 月 1 日为开始，间隔为 1 天 1 小时 1 分钟 10 微秒的时间索引
pd.date_range("2018-10-1", periods=10, freq='1D1H1min10U')

DatetimeIndex([       '2018-10-01 00:00:00', '2018-10-02 01:01:00.000010',
               '2018-10-03 02:02:00.000020', '2018-10-04 03:03:00.000030',
               '2018-10-05 04:04:00.000040', '2018-10-06 05:05:00.000050',
               '2018-10-07 06:06:00.000060', '2018-10-08 07:07:00.000070',
               '2018-10-09 08:08:00.000080', '2018-10-10 09:09:00.000090'],
              dtype='datetime64[ns]', freq='90060000010U')

In [65]:
# 创建 10 条以 2018 年 10 月 1 日为开始，间隔为每周三的时间索引
pd.date_range("2018-10-1", periods=10, freq='W-WED')

DatetimeIndex(['2018-10-03', '2018-10-10', '2018-10-17', '2018-10-24',
               '2018-10-31', '2018-11-07', '2018-11-14', '2018-11-21',
               '2018-11-28', '2018-12-05'],
              dtype='datetime64[ns]', freq='W-WED')

In [66]:
from pandas.tseries.offsets import MonthBegin

# n = 1 时 起始点参与计算
pd.Timestamp('2018-10-1') + MonthBegin(n=1)

Timestamp('2018-11-01 00:00:00')

In [67]:
pd.Timestamp('2018-10-1') + MonthBegin(n=0)

Timestamp('2018-10-01 00:00:00')

### 下采样聚合

In [68]:
# 创建 100 个日历日为时间索引的 DataFrame，将其以月频率下采样
df = pd.DataFrame(np.random.rand(100, 3),
                  index=pd.date_range('10/1/2018', freq='D', periods=100),
                  columns=['A', 'B', 'C'])
r = df.resample('M')
r

In [69]:
r.sum()

                    A          B          C
2018-10-31  15.186537  16.622066  14.853633
2018-11-30  15.125161  12.804529  13.439733
2018-12-31  14.963523  14.953596  12.129949
2019-01-31   5.216451   4.344628   2.803167

In [70]:
# 在下采样后也能进行查找操作。选择 A、C 列后取均值计算
r[['A', 'C']].mean()

                   A         C
2018-10-31  0.489888  0.479149
2018-11-30  0.504172  0.447991
2018-12-31  0.482694  0.391289
2019-01-31  0.652056  0.350396

In [72]:
r.agg([np.sum, np.mean])

                    A                    B                    C
                  sum      mean        sum      mean        sum      mean
2018-10-31  15.186537  0.489888  16.622066  0.536196  14.853633  0.479149
2018-11-30  15.125161  0.504172  12.804529  0.426818  13.439733  0.447991
2018-12-31  14.963523  0.482694  14.953596  0.482374  12.129949  0.391289
2019-01-31   5.216451  0.652056   4.344628  0.543079   2.803167  0.350396

In [73]:
r['A'].agg([np.sum, np.mean, np.std])

                  sum      mean       std
2018-10-31  15.186537  0.489888  0.294321
2018-11-30  15.125161  0.504172  0.291262
2018-12-31  14.963523  0.482694  0.230857
2019-01-31   5.216451  0.652056  0.257419

In [74]:
r.agg({'A': ['sum', 'std'], 'B': ['mean', 'std']})

                    A                   B
                  sum       std      mean       std
2018-10-31  15.186537  0.294321  0.536196  0.308575
2018-11-30  15.125161  0.291262  0.426818  0.281501
2018-12-31  14.963523  0.230857  0.482374  0.283335
2019-01-31   5.216451  0.257419  0.543079  0.261125